build/
.gradle/
*.iml
*.ipr
/.idea
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/target-eclipse/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/grails-app/conf/LocalConfig.groovy
Thumbs.db
TAGS
classes/
.project
plugins/external-config-reload-1.2.2-modified/plugin.xml
*.pem
**~
plugins/**/target
dump.rdb
test/javascripts/coverage
test/javascripts/node_modules
**.pyc
